<!doctype html>
<html>
  <head>
    <style>
      .container {
        font-family: sans-serif;
        padding: 20px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello from MarsAi!</h1>

      <div>
        Hello {{DIRECTOR_FIRSTNAME}} {{DIRECTOR_LASTNAME}}, your Movie
        {{MOVIE_ENGLISH_TITLE}} and/or it's submission needs changes before it
        can be accepted
      </div>

      <div>
        The administrator has left the following message about your submission:
      </div>
      <div>{{ADMIN_MESSAGE}}</div>

      <div>Follow the following link to update your submission</div>
      <div><a href="{{FORM_EDIT_URL}}" target="_blank">Click to update submission</a></div>
    </div>
  </body>
</html>
